# FastAPI Web Services
fastapi
uvicorn
python-multipart

# Database
mysql-connector-python

# Computer Vision & Deep Learning Face Recognition
opencv-python-headless
numpy
deepface
tf-keras
gdown

# Security & Authentication
python-jose[cryptography]
passlib[bcrypt]

# Template Rendering (Admin Web Panel)
jinja2

# Utilities
python-dotenv
